In [3]:
import sys
import time
import os
import subprocess
import math
import matplotlib.pyplot as plt
import numpy as np
from astropy.table import Table, Column 
from scipy.stats import linregress
from scipy import interpolate
from scipy import polyval, polyfit
from scipy.optimize import curve_fit
from scipy import odr
import pylab as py
from matplotlib import gridspec
import sklearn.datasets as ds
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
import corner
import emcee
import scipy.optimize as op
from scipy.linalg import cholesky, inv,det
from scipy.optimize import minimize
import random
from astropy.table import Table, Column
import pandas as pd
import numpy as np
from datetime import datetime
import time

In [4]:
df = pd.read_csv('test.csv', delimiter='|')
df = df.rename(columns=lambda x: x.strip())
df = df.set_index('PGC')

In [5]:
for col in df.columns:
    print(col)

DMbest
eDMbest
1PGC
Nest
Vh
Vls
Vcmb
f
DMr
eDMr
DMr_rms
DMr_raw
DMi
eDMi
DMi_rms
DMi_raw
DMz
eDMz
DMz_rms
DMz_raw
DM_w1
eDM_w1
DM_w1_rms
DM_w1_raw
lgWmxi
elgWi
inc
Qs
Qw
g***
r***
i***
z***
w1***
w2***
R_so
P1_W2
DM_so
RA
DE
GLong
GLat
SGL
SGB
Nkt
N15
SGLg
SGBg
Vmodg

In [12]:
bands = ['r', 'i', 'z']

cols = ['Nest']
cols += ['DM'+band for band in bands]
cols += ['eDM'+band for band in bands]
cols += ['DM'+band+'_rms' for band in bands]
cols += ['DM'+band+'_raw' for band in bands]

bands = ['w1']
cols += ['DM_'+band for band in bands]
cols += ['eDM_'+band for band in bands]
cols += ['DM_'+band+'_rms' for band in bands]
cols += ['DM_'+band+'_raw' for band in bands]

bands = ['g', 'r', 'i', 'z', 'w1', 'w2']
cols += [band+'***' for band in bands]


for col in cols:
    df[col] = df[col].apply(lambda x: x if x!=0 else np.nan)

In [14]:
df["g***"]

PGC
2            NaN
4          15.59
12           NaN
16         14.36
55         15.53
           ...
5952956    15.09
5953001    13.37
6719321    16.46
6724069    16.17
6724508    14.79
Name: g***, Length: 9788, dtype: float64

In [11]:
df[df.columns[:50]].head()

,DMbest,eDMbest,1PGC,Nest,Vh,Vls,Vcmb,f,DMr,eDMr,...,DE,GLong,GLat,SGL,SGB,Nkt,N15,SGLg,SGBg,Vmodg
PGC,,,,,,,,,,,,,,,,,,,,,
2,34.24,0.29,73150,200275.0,5004,5296,4726,1.013,NaN,NaN,...,47.2745,113.9553,-14.6992,341.6440,20.7388,0,7,341.4922,20.7395,4976
4,33.29,0.17,120,202766.0,4458,4706,4109,1.011,33.31,0.16,...,23.0876,107.8322,-38.2729,316.0587,18.4514,0,0,316.0587,18.4514,4154
12,35.03,0.22,12,210177.0,6548,6685,6195,1.016,NaN,NaN,...,-6.3739,90.1920,-65.9300,286.4249,11.3511,0,1,286.4249,11.3510,6279
16,34.70,0.24,16,211419.0,5667,5809,5312,1.014,34.70,0.23,...,-5.1587,91.6005,-64.8656,287.6119,11.7030,0,1,287.6120,11.7030,5434
55,34.00,0.24,55,NaN,4779,5052,4454,1.012,34.00,0.23,...,33.6009,110.9496,-28.0857,327.0996,19.7763,0,0,327.0996,19.7763,4507

In [15]:
len(df)

9788

In [16]:
df.to_csv("test_bar", sep='|')