In [1]:
import sys
import time
import os
import subprocess
import math
import matplotlib.pyplot as plt
import numpy as np
from astropy.table import Table, Column 
from scipy.stats import linregress
from scipy import interpolate
from scipy import polyval, polyfit
from scipy.optimize import curve_fit
from scipy import odr
import pylab as py
from matplotlib import gridspec
import sklearn.datasets as ds
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
import corner
import emcee
import scipy.optimize as op
from scipy.linalg import cholesky, inv,det
from scipy.optimize import minimize
import random
from astropy.table import Table, Column
import pandas as pd
import numpy as np
from datetime import datetime
import time

In [2]:
#################################################################
def Vh2V3k(el,b, Vh):
  
    alpha = np.pi / 180.
    cosb = np.cos(b*alpha)
    sinb = np.sin(b*alpha)
    cosl = np.cos(el*alpha)
    sinl = np.sin(el*alpha)
    
    v3k = Vh-25.2*cosl*cosb-245.7*sinl*cosb+276.8*sinb

    return v3k

#################################################################

def Vcmb2Vmod(Vcmb, omegam=0.27):
    
    omegal=1.-omegam
    c=299800.
    z=Vcmb/c
    q0=0.5*(omegam-2.*omegal)
    fmod=1.+0.5*(1.-q0)*z-(1./6)*(1.-q0-3.*q0**2+1.)*z**2
    Vmod=c*z*fmod

    return Vmod
#################################################################

def Vh2Vls(el,b, Vh):
  
    alpha = np.pi / 180.
    cosb = np.cos(b*alpha)
    sinb = np.sin(b*alpha)
    cosl = np.cos(el*alpha)
    sinl = np.sin(el*alpha)
    
    vls = Vh-26.*cosl*cosb+317.*sinl*cosb-8.*sinb

    return vls
#################################################################

In [3]:
df = pd.read_csv('6dfgs.csv', delimiter='|')
df = df.rename(columns=lambda x: x.strip())
df = df.set_index('PGC')

df = df.rename(columns={"1PGC": "PGC1"})

print(len(df))

ln10 = np.log(10.)
df['DM_6dfgs']  = (5*np.log10(df["D75"])+25.)
df['eDM_6dfgs'] = 5.*df["feD"]/ln10
df_6dfgs = df.rename(columns={"Nest": "Nest_6dfgs"})
df_6dfgs = df_6dfgs.rename(columns={"Vcmb": "Vcmb_6dfgs"})
df_6dfgs = df_6dfgs.rename(columns={"PGC1": "PGC1_6dfgs"})

df_6dfgs  = df_6dfgs[df_6dfgs['rej']==0]

df_6dfgs.head()

8885

,rej,PGC1_6dfgs,Nest_6dfgs,Name,Vcmb_6dfgs,Vgp,D75,D100,feD,DzDh,eDz,skew,RA,DE,Vg,Gp,DM_6dfgs,eDM_6dfgs
PGC,,,,,,,,,,,,,,,,,,
64,0,72642,200033,g0000523-355037,15324,14646,222.3,166.7,0.29,-0.034659,0.110224,0.010894,0.2181,-35.8437,14646,1261,36.734697,0.629727
66,0,72642,200033,g0000532-355911,14725,14646,191.0,143.2,0.27,0.030506,0.103811,-0.028422,0.2216,-35.9863,14646,1261,36.405167,0.586298
114,0,72642,200033,g0001341-361900,14397,14397,133.6,100.2,0.27,0.177860,0.105257,-0.103135,0.3923,-36.3167,14397,-1,35.629032,0.586298
115,0,115,0,g0001453-042049,14005,14005,188.5,141.4,0.27,0.015661,0.103465,-0.020551,0.4387,-4.3469,14005,-1,36.376557,0.586298
123,0,123,205549,g0001361-144455,10966,10966,160.2,120.1,0.26,-0.023948,0.099643,0.003134,0.4002,-14.7487,10966,-1,36.023313,0.564583

In [4]:
len(df_6dfgs)

7112

In [5]:
### Only DM_fp_sdss is taken from this catalo, since Brent has made 
# his updated in the All CF4 FP Samples file in EDD

df = pd.read_csv('FP_sdss_pub.EDDhelper.csv', delimiter='|')
df = df.rename(columns=lambda x: x.strip())
df_EDD = df.set_index('PGC')

df_EDD.head()

,T17,1PGC,Nest,Vcmb,Vmod,DM_av,eDM,av_flag,DM_fpsdss,eDM_fpsdss,...,6dfgs_flag,DM_smac,eDM_smac,smac_flag,DM_enear,eDM_enear,enear_flag,DM_efar,eDM_efar,efar_flag
PGC,,,,,,,,,,,,,,,,,,,,,
64,0,72642,200033,15324,15938,36.56,0.63,0,-999.99,-999.99,...,0,-999.99,-999.99,-10000,-999.99,-999.99,-10000,-999.99,-999.99,-10000
66,0,72642,200033,14725,15292,36.23,0.59,0,-999.99,-999.99,...,0,-999.99,-999.99,-10000,-999.99,-999.99,-10000,-999.99,-999.99,-10000
114,0,72642,200033,14397,14939,35.45,0.59,0,-999.99,-999.99,...,0,-999.99,-999.99,-10000,-999.99,-999.99,-10000,-999.99,-999.99,-10000
115,0,115,0,14005,14518,36.20,0.59,0,-999.99,-999.99,...,0,-999.99,-999.99,-10000,-999.99,-999.99,-10000,-999.99,-999.99,-10000
123,0,123,205549,10966,11282,35.84,0.56,0,-999.99,-999.99,...,0,-999.99,-999.99,-10000,-999.99,-999.99,-10000,-999.99,-999.99,-10000

In [6]:
# df = pd.read_csv('FP_sdss_v3.csv', delimiter='|')
# df = pd.read_csv('FP_sdss_pub.csv', delimiter='|')
df = pd.read_csv('FP_sdss_pub.220521.csv', delimiter='|')
df = df.rename(columns=lambda x: x.strip())
df = df.set_index('PGC')

ln10 = np.log(10.)
df_fpsdss = df.rename(columns={"Nest": "Nest_fpsdss"})
df_fpsdss = df_fpsdss.rename(columns={"czcmb": "Vcmb_fpsdss"})
df_fpsdss = df_fpsdss.rename(columns={"1PGC": "PGC1_fpsdss"})

# Dc = Dist / Dist_fit
# Dist_fid = cz/H0  , H0 = 75

# 
# df_fpsdss["eDM_fpsdss"]

# logDist = df_fpsdss.logDc + np.log10(df_fpsdss.Vcmb_fpsdss/75.)
# df_fpsdss["DM_fpsdss"] = 5. * logDist + 25.
# df_fpsdss["eDM_fpsdss"] = 5. * df_fpsdss.elogDc

print(len(df_fpsdss))

df_fpsdss = df_fpsdss.join(df_EDD[["DM_fpsdss", "eDM_fpsdss"]], how="inner")

df_fpsdss["DM_fpsdss"] = df_fpsdss.apply(lambda x: x["DM_fpsdss"] if x["DM_fpsdss"]>0 else np.nan, axis=1)
df_fpsdss["eDM_fpsdss"] = df_fpsdss.apply(lambda x: x["eDM_fpsdss"] if x["DM_fpsdss"]>0 else np.nan, axis=1)

print(len(df_fpsdss))

df_fpsdss.head()

34059
34059

,D100,logDc,elogDc,skewc,logD,elogD,skew,czh,eczh,Vcmb_fpsdss,...,er,s,es,i,ei,objid,specid,plate,DM_fpsdss,eDM_fpsdss
PGC,,,,,,,,,,,,,,,,,,,,,
20919,187.3,0.040675,0.091698,-0.541032,0.038002,0.099509,-0.586469,16046,4,16184,...,0.00434,2.65845,0.00873,2.46123,0.00775,1237663547968323716,1951253584033114112,1733,36.98,0.46
21014,22.9,-0.156026,0.099438,0.076115,-0.147828,0.101547,0.097144,3131,2,3250,...,0.00320,2.69511,0.00643,2.30353,0.00511,1237663917871988832,2099918005914855936,1865,32.42,0.50
21072,166.8,0.025511,0.091508,-0.538911,0.022862,0.099260,-0.586179,14848,4,14984,...,0.00381,2.63590,0.00767,2.47846,0.00755,1237663531326243079,1951295365474969600,1733,36.74,0.46
21226,186.0,0.034595,0.097532,-0.675872,0.029237,0.099405,-0.584496,16126,2,16290,...,0.00345,2.73040,0.00696,2.44156,0.00485,1237653588476952852,609190772427745280,541,36.97,0.49
21473,117.8,-0.023480,0.099913,-0.619854,-0.026961,0.099046,-0.583037,11785,4,11962,...,0.00368,2.12132,0.00742,2.28253,0.01174,1237657595682029975,848939837200295808,754,35.98,0.50

In [7]:
df = pd.read_csv('all_cf2_fp.csv', delimiter='|')
df = df.rename(columns=lambda x: x.strip())
df_cf2fp = df.set_index('PGC')

df_cf2fp = df_cf2fp.rename(columns={"1PGC": "PGC1"})

for suffix in ["smc","enr","far"]:
    df_cf2fp = df_cf2fp.rename(columns={"DM"+suffix: "DM_"+suffix})
    df_cf2fp["eDM_"+suffix] = 0.50
    df_cf2fp["DM_"+suffix][df_cf2fp["DM_"+suffix]==0] = np.nan
    df_cf2fp["eDM_"+suffix][df_cf2fp["DM_"+suffix].isna()] = np.nan
    df_cf2fp["PGC1_"+suffix] = df_cf2fp["PGC1"]
    df_cf2fp["Nest_"+suffix] = df_cf2fp["Nest"]
    df_cf2fp["Vcmb_"+suffix] = df_cf2fp["Vcmb"]


del df_cf2fp['PGC1']
del df_cf2fp['Nest']
del df_cf2fp['Vcmb']

<ipython-input-7-ba526ef762a8>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cf2fp["DM_"+suffix][df_cf2fp["DM_"+suffix]==0] = np.nan
<ipython-input-7-ba526ef762a8>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cf2fp["eDM_"+suffix][df_cf2fp["DM_"+suffix].isna()] = np.nan

In [8]:
len(df_6dfgs)

7112

In [9]:
how = 'outer'

df = df_6dfgs.join(df_fpsdss, lsuffix='_6dfgs', rsuffix='_fpsdss', how=how)

df = df.join(df_cf2fp, lsuffix='_fp', rsuffix='_cf2fp', how=how)

# df1 =  df[['PGC1_far','eDM_far']]
# df1g = df1.groupby('PGC1_far').count().rename(columns={"eDM_far":"N_far"})
# df1 = df1.reset_index().set_index('PGC1_far').join(df1g, lsuffix='_l', rsuffix='_r', how='left').reset_index().set_index('PGC')
# df1['eDM_far'] = df1['eDM_far']/np.sqrt(df1["N_far"])

# df['eDM_far'] = df1['eDM_far']
# df["N_far"] = df1["N_far"]


for col in df.columns:
    if col.split('_')[0]=='PGC1' and col!='PGC1_fpsdss':
        df['PGC1_fpsdss'] = df['PGC1_fpsdss'].fillna(df[col])
        
for col in df.columns:
    if col.split('_')[0]=='Nest' and col!='Nest_fpsdss':
        df['Nest_fpsdss'] = df['Nest_fpsdss'].fillna(df[col])



catalogs = ["fpsdss", "6dfgs", "smc", "enr", "far"]

ss = []
for cat in catalogs:
    ss += ['PGC1_'+cat, 'Nest_'+cat, "DM_"+cat, "eDM_"+cat, "Vcmb_"+cat]

df = df[ss]

ss = []
for cat in catalogs:
    ss += ['PGC1_'+cat]   
df['pgc1'] = df[ss].median(axis=1)
df = df[~df['pgc1'].isna()]


print(len(df))

df.head()

42254

,PGC1_fpsdss,Nest_fpsdss,DM_fpsdss,eDM_fpsdss,Vcmb_fpsdss,PGC1_6dfgs,Nest_6dfgs,DM_6dfgs,eDM_6dfgs,Vcmb_6dfgs,...,Nest_enr,DM_enr,eDM_enr,Vcmb_enr,PGC1_far,Nest_far,DM_far,eDM_far,Vcmb_far,pgc1
PGC,,,,,,,,,,,,,,,,,,,,,
64,72642.0,200033.0,NaN,NaN,NaN,72642.0,200033.0,36.734697,0.629727,15324.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72642.0
66,72642.0,200033.0,NaN,NaN,NaN,72642.0,200033.0,36.405167,0.586298,14725.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72642.0
114,72642.0,200033.0,NaN,NaN,NaN,72642.0,200033.0,35.629032,0.586298,14397.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72642.0
115,115.0,0.0,NaN,NaN,NaN,115.0,0.0,36.376557,0.586298,14005.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115.0
123,123.0,205549.0,NaN,NaN,NaN,123.0,205549.0,36.023313,0.564583,10966.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.0

In [10]:
for cat in catalogs:
    df['Vmod_'+cat] = Vcmb2Vmod(df['Vcmb_'+cat])
    logD = (df['DM_'+cat]-25)/5.
    df['logH_'+cat] = np.log10(df['Vmod_'+cat]) - logD 
    
    print(cat, 10**df['logH_'+cat][df['Vmod_'+cat]>4000].median())

fpsdss 75.31056680637558
6dfgs 72.56945650701134
smc 76.73704799488011
enr 76.22256166035713
far 80.36152475092275

In [11]:
sigmaClips = {}

for i in range(1):
    for cat in catalogs:

        logH = df['logH_'+cat]
        med = logH[df['Vmod_'+cat]>4000].median()
        stdev = logH[df['Vmod_'+cat]>4000].std()
        
#         print cat, 10**med
        
        if not cat in sigmaClips:
                sigmaClips[cat] = []
        sigmaClips[cat] += list(df[(logH > med+3.5*stdev) | (logH < med-3.5*stdev)].index.values)
        df['DM_'+cat][(logH > med+3.5*stdev) | (logH < med-3.5*stdev)] = np.nan
        df['eDM_'+cat][(logH > med+3.5*stdev) | (logH < med-3.5*stdev)] = np.nan
        df['logH_'+cat][(logH > med+3.5*stdev) | (logH < med-3.5*stdev)] = np.nan

In [12]:
myDict = {}
myDict['fpsdss'] = 0

for cat in catalogs[1:]:

        delta = df['DM_fpsdss'] - df['DM_'+cat]

        stdev = delta.std()
        med   = delta.median()
        myDict[cat] = med

In [13]:
for cat in sigmaClips:
    print(cat, len(sigmaClips[cat]))

myDict

fpsdss 2
6dfgs 13
smc 1
enr 2
far 0

{'fpsdss': 0,
 '6dfgs': -0.15525348069024858,
 'smc': -0.03999999999999915,
 'enr': -0.05000000000000426,
 'far': 0.30000000000000426}

In [14]:
ind = (df["PGC1_fpsdss"].isna()) | (df["PGC1_fpsdss"]==0)
print(len(df["PGC1_fpsdss"][ind]))

for cat in catalogs:
    ind = (df["PGC1_fpsdss"].isna()) | (df["PGC1_fpsdss"]==0)
    df["PGC1_fpsdss"][ind] = df["PGC1_"+cat][ind]
    

ind = (df["PGC1_fpsdss"].isna()) | (df["PGC1_fpsdss"]==0)
print(len(df["PGC1_fpsdss"][ind]))

ind = (df["PGC1_fpsdss"].isna()) | (df["PGC1_fpsdss"]==0)
df["PGC1_fpsdss"][ind] = np.nan

8934
8928

In [15]:
ind = (df["Nest_fpsdss"].isna()) | (df["Nest_fpsdss"]==0)
print(len(df["Nest_fpsdss"][ind]))

for cat in catalogs:
    ind = (df["Nest_fpsdss"].isna()) | (df["Nest_fpsdss"]==0)
    df["Nest_fpsdss"][ind] = df["Nest_"+cat][ind]
    
ind = (df["Nest_fpsdss"].isna()) | (df["Nest_fpsdss"]==0)
df["Nest_fpsdss"][ind] = np.nan

27544

In [16]:
ind = (df["Vmod_fpsdss"].isna()) | (df["Vmod_fpsdss"]==0)
print(len(df["Vmod_fpsdss"][ind]))

for cat in catalogs:
    ind = (df["Vmod_fpsdss"].isna()) | (df["Vmod_fpsdss"]==0)
    df["Vmod_fpsdss"][ind] = df["Vmod_"+cat][ind]
    
ind = (df["Vmod_fpsdss"].isna()) | (df["Vmod_fpsdss"]==0)
df["Vmod_fpsdss"][ind] = np.nan

8195

In [17]:
ind = (df["Vcmb_fpsdss"].isna()) | (df["Vcmb_fpsdss"]==0)
print(len(df["Vcmb_fpsdss"][ind]))

for cat in catalogs:
    ind = (df["Vcmb_fpsdss"].isna()) | (df["Vcmb_fpsdss"]==0)
    df["Vcmb_fpsdss"][ind] = df["Vcmb_"+cat][ind]
    
ind = (df["Vcmb_fpsdss"].isna()) | (df["Vcmb_fpsdss"]==0)
df["Vcmb_fpsdss"][ind] = np.nan

8195

In [18]:
df.head()

,PGC1_fpsdss,Nest_fpsdss,DM_fpsdss,eDM_fpsdss,Vcmb_fpsdss,PGC1_6dfgs,Nest_6dfgs,DM_6dfgs,eDM_6dfgs,Vcmb_6dfgs,...,Vmod_fpsdss,logH_fpsdss,Vmod_6dfgs,logH_6dfgs,Vmod_smc,logH_smc,Vmod_enr,logH_enr,Vmod_far,logH_far
PGC,,,,,,,,,,,,,,,,,,,,,
64,72642.0,200033.0,NaN,NaN,15324.0,72642.0,200033.0,36.734697,0.629727,15324.0,...,15938.430745,NaN,15938.430745,1.855506,NaN,NaN,NaN,NaN,NaN,NaN
66,72642.0,200033.0,NaN,NaN,14725.0,72642.0,200033.0,36.405167,0.586298,14725.0,...,15292.703769,NaN,15292.703769,1.903451,NaN,NaN,NaN,NaN,NaN,NaN
114,72642.0,200033.0,NaN,NaN,14397.0,72642.0,200033.0,35.629032,0.586298,14397.0,...,14939.887452,NaN,14939.887452,2.048541,NaN,NaN,NaN,NaN,NaN,NaN
115,115.0,NaN,NaN,NaN,14005.0,115.0,0.0,36.376557,0.586298,14005.0,...,14518.945116,NaN,14518.945116,1.886624,NaN,NaN,NaN,NaN,NaN,NaN
123,123.0,205549.0,NaN,NaN,10966.0,123.0,205549.0,36.023313,0.564583,10966.0,...,11282.137786,NaN,11282.137786,1.847729,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
myDict = {}
myDict['fpsdss'] = 0

for cat in catalogs[1:]:

        delta = df['DM_fpsdss'] - df['DM_'+cat]

        stdev = delta.std()
        med   = delta.median()
        myDict[cat] = med

In [20]:
for cat in sigmaClips:
    print(cat, len(sigmaClips[cat]))

myDict

fpsdss 2
6dfgs 13
smc 1
enr 2
far 0

{'fpsdss': 0,
 '6dfgs': -0.15525348069024858,
 'smc': -0.03999999999999915,
 'enr': -0.05000000000000426,
 'far': 0.30000000000000426}

In [21]:
cat = catalogs[0]
N = len(sigmaClips[cat])
x = [1 for i in range(N)]
Dreject = pd.DataFrame(list(zip(sigmaClips[cat], x)), columns=['PGC',cat])
Dreject = Dreject.set_index('PGC')

for cat in catalogs[1:]:
    x = [1 for i in range(N)]
    Dj = pd.DataFrame(list(zip(sigmaClips[cat], x)), columns=['PGC',cat])
    Dj = Dj.set_index('PGC')
    Dreject = Dreject.join(Dj, how='outer')

Dreject = Dreject.fillna(0).astype('int')
Dreject = Dreject.reset_index()
Dreject.head(20)

import pandas as pd
from tabulate import tabulate

content = tabulate(Dreject.values.tolist(), list(Dreject.columns), tablefmt="pipe")
open('3SigmaClips_FP.csv', "w").write(content)

512

In [22]:
sig3 = pd.read_csv('3SigmaClips_FP.csv', delimiter='|')
sig3 = sig3.rename(columns=lambda x: x.strip())
new_col = {}
for cat in catalogs:
    new_col[cat] = cat+'_flag'

sig3 = sig3.drop(index=0).set_index('PGC')[catalogs]
sig3 = sig3.rename(columns=new_col)
sig3 = sig3.astype('int32')
sig3.index = sig3.index.astype('int32')

sig3.head(10)

         fpsdss_flag  6dfgs_flag  smc_flag  enr_flag  far_flag
PGC
15472              0           1         0         0         0
31765              0           0         0         1         0
40653              0           0         0         1         0
49131              0           0         1         0         0
66351              0           1         0         0         0
3119459            1           0         0         0         0
3572391            1           0         0         0         0

In [23]:
len(sig3[sig3["fpsdss_flag"]==1])

2

In [24]:
df.index = df.index.astype('int32')
df = df.join(sig3, lsuffix='_l', rsuffix='_r', how="outer")

for cat in catalogs:
    ind = df[cat+"_flag"].isna()
    df[cat+"_flag"][ind] = 0

df.head()

,PGC1_fpsdss,Nest_fpsdss,DM_fpsdss,eDM_fpsdss,Vcmb_fpsdss,PGC1_6dfgs,Nest_6dfgs,DM_6dfgs,eDM_6dfgs,Vcmb_6dfgs,...,logH_smc,Vmod_enr,logH_enr,Vmod_far,logH_far,fpsdss_flag,6dfgs_flag,smc_flag,enr_flag,far_flag
PGC,,,,,,,,,,,,,,,,,,,,,
64,72642.0,200033.0,NaN,NaN,15324.0,72642.0,200033.0,36.734697,0.629727,15324.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
66,72642.0,200033.0,NaN,NaN,14725.0,72642.0,200033.0,36.405167,0.586298,14725.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
114,72642.0,200033.0,NaN,NaN,14397.0,72642.0,200033.0,35.629032,0.586298,14397.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
115,115.0,NaN,NaN,NaN,14005.0,115.0,0.0,36.376557,0.586298,14005.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
123,123.0,205549.0,NaN,NaN,10966.0,123.0,205549.0,36.023313,0.564583,10966.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0

In [25]:
myDict = {}
myDict["fpsdss"] = 0
myDict["6dfgs"] = -0.109
myDict["smc"] = 0.040
myDict["enr"] = 0.017
myDict["far"] = 0.177


for cat in catalogs:
    df['DM_'+cat] += myDict[cat]
    df['w_'+cat] = (1.-df[cat+'_flag'])/df['eDM_'+cat]**2
    df['w_'+cat] = df['w_'+cat].apply(lambda x: x if x!=0 else np.nan)
    df['w_'+cat] = df.apply(lambda x: x['w_'+cat] if x[cat+'_flag']==0 else np.nan, axis=1)
    df['e_'+cat] = (1.-df[cat+'_flag'])*df['eDM_'+cat]
    df['e_'+cat] = df['e_'+cat].apply(lambda x: x if x!=0 else np.nan)
    df['e_'+cat] = df.apply(lambda x: x['e_'+cat] if x[cat+'_flag']==0 else np.nan, axis=1)
    df['xw_'+cat] = (df['DM_'+cat])*df['w_'+cat]
    df['xw_'+cat] = df.apply(lambda x: x['xw_'+cat] if x[cat+'_flag']==0 else np.nan, axis=1)

sw = ['w_'+cat for cat in catalogs]
ee = ['e_'+cat for cat in catalogs]
sx = ['xw_'+cat for cat in catalogs]

Err2 = 1./df[sw].sum(axis=1)

df["eDM_av"] = df[ee].min(axis=1) # np.sqrt(Err2)
df["DM_av"] = df[sx].sum(axis=1)*Err2

In [26]:
df['av_flag'] = 0*df['DM_av']
df['av_flag'][df['DM_av'].isna()] = 1

In [27]:
for cat in catalogs:
    df['w_'+cat] = 1./df['eDM_'+cat]**2
    df['xw_'+cat] = df['DM_'+cat]*df['w_'+cat]
    df['e_'+cat] = 1.*df['eDM_'+cat]

sw = ['w_'+cat for cat in catalogs]
ee = ['e_'+cat for cat in catalogs]
sx = ['xw_'+cat for cat in catalogs]

Err2 = 1./df[sw].sum(axis=1)
df["DM_av_"] = df[sx].sum(axis=1)*Err2
df["eDM_av_"] = df[ee].min(axis=1)  #  np.sqrt(Err2)

ind = df["av_flag"] == 1
df["eDM_av"][ind] = df["eDM_av_"][ind]
df["DM_av"][ind] = df["DM_av_"][ind]

In [28]:
df[ee+["eDM_av"]].head()

     e_fpsdss   e_6dfgs  e_smc  e_enr  e_far    eDM_av
PGC
64        NaN  0.629727    NaN    NaN    NaN  0.629727
66        NaN  0.586298    NaN    NaN    NaN  0.586298
114       NaN  0.586298    NaN    NaN    NaN  0.586298
115       NaN  0.586298    NaN    NaN    NaN  0.586298
123       NaN  0.564583    NaN    NaN    NaN  0.564583

In [29]:
ss = ['PGC1_fpsdss', 'Nest_fpsdss', 'Vcmb_fpsdss', 'Vmod_fpsdss', "DM_av", "eDM_av", "av_flag"]
for cat in catalogs:
    ss += ["DM_"+cat, "eDM_"+cat, cat+'_flag']

df = df.fillna(0)

df = df[ss]


df = df.rename(columns={'PGC1_fpsdss': 'PGC1',
                        'Nest_fpsdss': 'Nest',
                        'Vcmb_fpsdss': 'Vcmb',
                        'Vmod_fpsdss': 'Vmod'
                       })

df.head()

,PGC1,Nest,Vcmb,Vmod,DM_av,eDM_av,av_flag,DM_fpsdss,eDM_fpsdss,fpsdss_flag,...,6dfgs_flag,DM_smc,eDM_smc,smc_flag,DM_enr,eDM_enr,enr_flag,DM_far,eDM_far,far_flag
PGC,,,,,,,,,,,,,,,,,,,,,
64,72642.0,200033.0,15324.0,15938.430745,36.625697,0.629727,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
66,72642.0,200033.0,14725.0,15292.703769,36.296167,0.586298,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
114,72642.0,200033.0,14397.0,14939.887452,35.520032,0.586298,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
115,115.0,0.0,14005.0,14518.945116,36.267557,0.586298,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
123,123.0,205549.0,10966.0,11282.137786,35.914313,0.564583,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
np.max(df.DM_fpsdss.values)

39.55

In [31]:
for cat in catalogs:
    edm = 'eDM_'+cat
    dm = 'DM_'+cat
    flag = cat+'_flag'
      
    print(dm, edm, flag)
    
    df[edm] = df.apply(lambda x: x[edm] if x[dm]!=0 else np.nan, axis=1)
    df[flag] = df.apply(lambda x: x[flag] if x[dm]!=0 else np.nan, axis=1)
    df[dm] = df.apply(lambda x: x[dm] if x[dm]!=0 else np.nan, axis=1)
    
    
    ### COMMET THIS unless SNIa
    ## don't perform the adjsutments on the individual cataloged distances
#     df['DM_'+cat] -= myDict[cat]

DM_fpsdss eDM_fpsdss fpsdss_flag
DM_6dfgs eDM_6dfgs 6dfgs_flag
DM_smc eDM_smc smc_flag
DM_enr eDM_enr enr_flag
DM_far eDM_far far_flag

In [32]:
df.head(20)

,PGC1,Nest,Vcmb,Vmod,DM_av,eDM_av,av_flag,DM_fpsdss,eDM_fpsdss,fpsdss_flag,...,6dfgs_flag,DM_smc,eDM_smc,smc_flag,DM_enr,eDM_enr,enr_flag,DM_far,eDM_far,far_flag
PGC,,,,,,,,,,,,,,,,,,,,,
64,72642.0,200033.0,15324.0,15938.430745,36.625697,0.629727,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,72642.0,200033.0,14725.0,15292.703769,36.296167,0.586298,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,72642.0,200033.0,14397.0,14939.887452,35.520032,0.586298,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,115.0,0.0,14005.0,14518.945116,36.267557,0.586298,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,123.0,205549.0,10966.0,11282.137786,35.914313,0.564583,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,75.0,200697.0,11615.0,11969.416136,35.859405,0.564583,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,72642.0,200033.0,14365.0,14905.495569,36.608043,0.608012,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,382.0,200108.0,10147.0,10417.919123,35.959916,0.542868,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,262.0,208331.0,8795.0,8998.830832,35.462386,0.629727,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293,293.0,209619.0,6859.0,6983.229813,34.899669,0.586298,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
322,322.0,200941.0,7718.0,7875.149137,34.903990,0.499439,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331,211.0,200218.0,10711.0,11012.689149,35.470716,0.521153,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
337,337.0,208543.0,8884.0,9091.957024,35.396297,0.542868,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362,382.0,200108.0,10509.0,10799.480681,34.893170,0.542868,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,382.0,200108.0,10420.0,10705.608861,36.295030,0.586298,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,211.0,200218.0,10857.0,11166.920840,36.570295,0.651442,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
424,424.0,211136.0,5389.0,5465.808146,34.444122,0.738301,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449,449.0,200409.0,9919.0,10177.944731,35.331680,0.542868,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456,382.0,200108.0,10001.0,10264.220487,35.892516,0.521153,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468,449.0,200409.0,10702.0,11003.185298,35.574603,0.542868,0.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
print(len(df_fpsdss))

df = df_EDD[["T17"]].join(df, how="inner")

print(len(df_fpsdss))

df.head()

34059
34059

,T17,PGC1,Nest,Vcmb,Vmod,DM_av,eDM_av,av_flag,DM_fpsdss,eDM_fpsdss,...,6dfgs_flag,DM_smc,eDM_smc,smc_flag,DM_enr,eDM_enr,enr_flag,DM_far,eDM_far,far_flag
PGC,,,,,,,,,,,,,,,,,,,,,
64,0,72642.0,200033.0,15324.0,15938.430745,36.625697,0.629727,0.0,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,0,72642.0,200033.0,14725.0,15292.703769,36.296167,0.586298,0.0,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,0,72642.0,200033.0,14397.0,14939.887452,35.520032,0.586298,0.0,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,0,115.0,0.0,14005.0,14518.945116,36.267557,0.586298,0.0,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,0,123.0,205549.0,10966.0,11282.137786,35.914313,0.564583,0.0,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df.to_csv("FP_CF4_components_bar.csv", sep='|')

In [35]:
table   = np.genfromtxt('FP_CF4_components_bar.csv' , delimiter='|', 
                        filling_values=-10000, names=True, dtype=None, encoding=None)

colnames = table.dtype.names

## table is a structured array
myTable = {}
for name in table.dtype.names:
    myTable[name] = table[name]
table = myTable
## table is now a dictionary

myTable = Table()

for key in colnames:
    if key in ["PGC", "PGC1", "Nest", "T17"]:
        myTable.add_column(Column(data=table[key], name=key, dtype=np.dtype(int))) 
    elif key in ["Vcmb", "Vmod"]+["av_flag","fpsdss_flag","6dfgs_flag","smc_flag","sfi_flag","enr_flag","far_flag"]:
        myTable.add_column(Column(data=table[key], name=key, dtype=np.dtype(int)))
    else:
        myTable.add_column(Column(data=table[key], name=key, format='%0.2f'))

## to be used on EDD
myTable.write('FP_CF4_components_bar_220522', format='ascii.fixed_width',delimiter='|', bookend=False, overwrite=True)